language: java
jdk:
  - oraclejdk8
notifications:
  slack:
    secure: "UeOjtj5WmxE/loLuxZzbBfURTKR0XhbNary/EAjpp4gsB1xFoMoK9raShH2F4o87cmLtdnylXpiKOYFyJCo5fKdaYxpCP7fScmAPejIj9AFOY3RFQx9ry6kxCW/lEg+dzzFDoJkvVAoKaIXryicPu1wbBXhL6UQGenyGCkxh3IAJtYq0p5NLj/1XAooYqTVPljw++0PVZZUshbe3TpDOM0wbmZcPdUtNT2olOWgxHNAEY5nXGchFWCD+zFNeKkMYBVAWpkzPgrtrrh0aOQEzw8dTPGKr/uOX+HTZCQP2x69zikbA67k+vXOgZ0wwuipWcbGx1pACp3fvJYOg+CNWlTDdoVde7UHNo62rdXo8NaAKUUI948sViAaor3gtdX1hcUGUVUzuP4+DxkYnXVTCkJuHn5iR5+nPdeuSKAYvkXhIkGUZIy3wz+rVN0VF0sOo1Ffmxt3pZfMRXASWyH+8vGQnbHhks1GUjl3v1f0WyRulpn6SzuBxFFaPzgdc1AsJjDBjIDB3erqub1VmbhK2oXqpOV3hiAGrGgSZwtsVXSd7vTWiSR3XG0lKhPeWvINHso16ZSqL3jZcHyn+gdg4K8y7VL5XXK2L1pjnlYKpYnN0GW4pFroc41Tx8iPG1fKfgpEImPIztd9uuJQh4Yqbn1CR4RyLBl0wLF7MYsoWX98="
